.completed{
  text-decoration: line-through;
  color: red;
}

.list-item{
  cursor:pointer
}

#todoApp{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fde489;
  padding: 10px;
}

.delete-button{
  margin-left: 10px;
}
